body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.chat-container {
    flex: 1;
    padding: 10px;
    background-color: #e5ddd5;
    overflow-y: auto;
}

.message {
    margin-bottom: 20px;
    max-width: 80%;
    position: relative;
    padding: 10px;
    border-radius: 10px;
}

.received {
    background-color: #ffffff;
    align-self: flex-start;
    margin-right: auto;
}

.sent {
    background-color: #dcf8c6;
    align-self: flex-end;
    margin-left: auto;
}

.timestamp {
    font-size: 0.75rem;
    color: gray;
    position: absolute;
    bottom: 5px;
    right: 10px;
}

.input-container {
    display: flex;
    padding: 10px;
    background-color: #f1f1f1;
    border-top: 1px solid #ddd;
    align-items: center;
}

.chat-input {
    flex: 1;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    outline: none;
}

.send-button {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #25d366;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    outline: none;
}

.send-button:hover {
    background-color: #1db954;
}
